<div class="col-md-12">
    <a>Bhushan Shirude<p class="fa fa-angle-down" style="font-size: 15px;"></p></a>
</div>
<div class="card col-md-12 mt-2">
    <div class="row">
        <a>Time Pass</a>
        <p>Times are in <i style="color:#00A2FF;"> india sir lanka Time <i class="fa fa-angle-down" style="font-size: 15px;"></i> </i>
        </p>
    </div>
</div>
<div class="fa mt-3">
    <p class="fa fa-comments-o"><a>Description</a></p><br>
    <p class="fa fa-crosshairs" style="color:rgb(179,179,179);"><a>Mumbai</a></p>
</div>

<div class="card col-md-4 mt-3 offset-3" style="height: 15em;">
    <span>Select Date & Time </span>
    <angular2-date-picker class="mt-3" [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
    <div class="mt-3">
        <input atp-time-picker value="12:00" style="width: 26em;">
    </div>
</div>






















<!-- <div class="row">
    <span style="margin-left: 14em;"> -Today-</span>
</div> -->

<!-- <div class="pagination mt-4">
    <div href="#" style="margin-left:6em;" class="fa fa-angle-left mt-3"></div>
    <p class="datepicker mt-4">
        <a>1</a>
        <a>2</a>
        <a>3</a>
        <a>4</a>
        <a>5</a>
        <a>6</a>
        <a>7</a>
    </p>
    <div href="#" class="fa fa-angle-right mt-3"></div>
</div> -->