<div class="card-header">
    <div class="row col-md-8 offset-1">
        <h5>Event types
        </h5>
    </div>
    <div class="row col-md-4 offset-7 mb-4">
        <input type="search" class="form-control" placeholder="Search Event Types">
    </div>
</div>
<div class="row col-sm-12">
    <div class="col-1 offset-1 mt-3">
        <a class="fa fa-circle"></a>
    </div>
    <div class="col-sm-4 mt-3">
        <li class="nav-item ">
            <span data-toggle="dropdown" style="margin-left: -1em;">{{this.userData['0'].personalDetails.FirstName}} {{this.userData['0'].personalDetails.LastName}}<b class="fa fa-angle-down"></b></span>
            <p style="color: rgb(57, 161, 231); cursor: pointer;" [routerLink]="['meetingsch']">{{this.userData['0'].personalDetails.Email}}</p>
            <div class="dropdown-menu" style="margin-top: -1px;">
                <i class=" dropdown-item"><a  class="fa fa-paperclip"></a> Copy Link</i>
                <hr style="margin-top: 0em; margin-bottom: 0em;">
                <i class="dropdown-item" data-toggle="modal" data-target="#myModal"><a  class="fa fa-code"></a> Embed</i>
            </div>
        </li>
    </div>
    <div class="fa col-sm-3 mt-4 offset-2">
        <button class="fa fa-plus form-control" (click)="event()"> New Event Type</button>
    </div>
</div>

<div class="card offset-2" style="width: 18em; height: 5em;" *ngFor="let val of Array">
    <div class="row col-md-12">
        <div class="col-sm-12 mt-2">
            <a style="font-size: 15px;">30 Minute Meeting{{val}}</a>
            <a style="margin-left:3em; font-size:20px; cursor: pointer; color:#24a56f;" class="fa fa-gear"></a>
            <span data-toggle="dropdown" style="margin-left: -7em;"><b class="fa fa-angle-down"></b></span>
            <div class="dropdown-menu" style="margin-left:2em; margin-top: -1px;">
                <i class=" dropdown-item"><a  class="fa fa-pencil"></a>Edit</i>
                <hr>
                <i class=" dropdown-item"><a  class="fa fa-paperclip"></a> Copy Link</i>
                <hr>
                <i class=" dropdown-item"><a  class="fa fa-clone"></a> Clone</i>
                <hr>
                <i class=" dropdown-item"><a  class="fa fa-save"></a> Save Template</i>
                <hr>
                <i class="dropdown-item" data-toggle="modal" data-target="#myModal"><a class="fa fa-code"></a> Embed</i>
                <hr>
                <i class=" dropdown-item"><a class="fa fa-trash"></a> Delete</i>
            </div>
        </div>
        <p style="margin-left:2em; font-size: 14px; color: rgb(179, 179,179); margin-top:-10px;">One-On-One 30Mins</p>
        <a style="font-size:15px; margin-left:1em; margin-top: -25px; " [routerLink]="['meetingsch']">{{userData['0'].personalDetails.Email}}</a>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <h4 class="modal-title ">Popup Widget </h4>
                </div>
                <div class="modal-body ">
                    <div class="col-md-5 offset-1 " style="margin-top: -2em; ">
                        <img src="assets/1.jpg ">
                    </div>
                    <h6 class="offset-1 "> Calendly Page *</h6>
                    <h6 class="offset-1 "> Text Link *</h6>
                    <input type="text " class="form-control offset-1 " style="width: 80%; " value="Schedule time with me ">
                    <div class="col-md-10 offset-1 mt-3 ">
                        <p>Copy and paste this code into your website's HTML where you would like to see it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>