<div class="card-header">
    <div class="fa fa-arrow-left offset-1" (click)="left()">
    </div>
    <span>Bhushan Shirude <a class="fa fa-angle-down"></a></span>
</div>

<div class="row col-md-12">
    <div class="col-md-5 mt-5 offset-1">
        <a style="color: #9e2ed3; font-size: 23px;" class="fa fa-circle mt-1"></a> Meeting name<br>
        <a style="color: #2caa06; font-size: 23px;" class="fa fa-clock-o mt-2"></a> 10.00.00 AM Friday 02/05/2018<br>
        <a style="color: #b9b9b9; font-size: 23px;" class="fa fa-globe mt-1"> </a> India<br>
        <a style="color: #b9b9b9; font-size: 23px;" class="fa fa-comments-o mt-1"></a> feedback<br>
        <a style="color: #b9b9b9; font-size: 23px;" class="fa fa-crosshairs mt-1"> </a> Pune
    </div>

    <div class="col-md-4 mt-5">
        <div class="header">
            <h6>Send Invitation</h6>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Enter Name" name="Sname" ngModel #Sname="ngModel">
            </div>
            <div class="col-md-12 mt-4">
                <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter Email Id" name="Semail" ngModel #Semail="ngModel">
            </div>
        </div>
        <div class="footer mb-3 offset-2 mt-2">
            <button class="btn btn-primary" (click)="schedule()">Schedule Event</button>
        </div>
    </div>
</div>