.header h6 {
    margin-left: 8em;
}

.footer button {
    margin-left: 5em;
}

.card-header span {
    margin-left: 34%;
    cursor: pointer;
    font-size: 15px;
    margin-top: -15px;
}

.card-header div {
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
}