<div class="col-md-12">
    <a>{{userData['0'].personalDetails.FirstName}} {{userData['0'].personalDetails.LastName}}<p class="fa fa-angle-down" style="font-size: 15px;"></p></a>
</div>
<div class="card col-md-12 mt-2">
    <div class="row">
        <a>Time Pass</a>
        <p>Times are in <i style="color:#00A2FF;"> india sir lanka Time <i class="fa fa-angle-down" style="font-size: 15px;"></i> </i>
        </p>
    </div>
</div>
<div class="fa mt-3">
    <p class="fa fa-comments-o"><a>Description</a></p><br>
    <p class="fa fa-crosshairs" style="color:rgb(179,179,179);"><a>Mumbai</a></p>
</div>
<span class="offset-4">Select Date & Time </span>

<div class="row col-md-8" style="margin-left: 28em;">
    <div class="col-md-4">
        <angular2-date-picker name="Date" [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
    </div>
    <div class="col-md-2">
        <input style="width: 7em;" id="1 " [textMask]="{mask: mask} " type="text " class="form-control " placeholder="00.00.00" />
    </div>
    <div class="col-md-1">
        <select class="form-control" style="margin-left:-33px; width:72px">
          <option>AM</option>
          <option>PM</option>
      </select>
    </div>
</div>
<div class="row col-md-2 mt-3">
    <button class="btn btn-primary" (click)="confirms()">Confirm</button>
</div>