<nav class="navbar navbar-expand-sm ">
    <h4 class="navbar-brand">Calendly</h4>
    <ul class="navbar-nav" *ngIf="!userData">
        <img class="rounded-circle" src="/assets/c.jpg">
        <li class="nav-item" style="margin-left: 10px;">
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
            <a style="margin-left:20px;" class="fa fa-user-o" [routerLink]="['/home/sign']"> sign Up</a>
        </li>
        <li class="nav-item">
            <a style="margin-left: 20px;" class="fa fa-user-o" [routerLink]="['/home/login']"> Login</a>
        </li>
    </ul>
    <ul class="navbar-nav" style="margin-left: 35em;" *ngIf="userData">
        <img class="rounded-circle" src="/assets/c.jpg">
        <li class="nav-item" style="margin-left: 10px;">
            <a [routerLink]="['/home/dash']">Dashboard</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
            <a [routerLink]="['/home/event']">Event Type</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
            <!-- <a [routerLink]="['/home/quick']">Quick Start</a> -->
            <a>Quick Start</a>
        </li>
        <li class="nav-item" style="margin-left: 20px; ">
            <!-- <a class="dropdown-toggle" data-toggle="dropdown">{{this.userData.personalDetails.FirstName}}{{this.userData.personalDetails.LastName}}</a> -->
            <a class="dropdown-toggle" data-toggle="dropdown">{{this.userData['0'].personalDetails.FirstName}} {{this.userData['0'].personalDetails.LastName}}</a>
            <div class="dropdown-menu">
                <a class="dropdown-item">Profile</a>
                <a class="dropdown-item">Setting</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>