<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 offset-1">
            <button class="form-control" [routerLink]="['/home/event']"><i class="fa fa-angle-left"></i>  Event Types</button>
        </div>
        <div class="col-md-4 offset-2">
            <h5>Add One-on-One Event Type</h5>
        </div>
    </div>
</div>
<div class="card col-md-8 offset-2 mt-5">
    <div class="card-header">
        <div class="row mt-1">
            <div class="col-5">
                <h6> When can people book this event?
                    <p style="color: rgb(173, 173, 173); font-size:14px;">30 min ,60 rolling days</p>
                </h6>
            </div>
            <div class="col-2 offset-3">
                <button class="btn btn-default" style="margin-left: 3em;">Cancel</button>
            </div>
            <div class="col-2">
                <button style="color: #fff; margin-left: -1em;" class=" btn btn-primary " [routerLink]="['/home/schedule']">Next</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-md-3">
            <h6>Event Duration *</h6>
        </div>
        <div class="col-md-2 mt-3">
            <h6> Date Range * :</h6>
        </div>
        <div class="col-md-8">
            <p>Events can be scheduled over 60 rolling days <a href="">Edit</a></p>
        </div>

        <div class="col-md-5 mt-3">
            <h6> Event TimeZone * :</h6>
        </div>
        <div class="col-md-12">
            <p>You are in india,Sri Lanka Time, Your invitees will see your availability in their local time Zone. <a href="">Edit</a></p>
        </div>

        <div class="col-md-5 mt-3">
            <h6>Availability * :</h6>
        </div>
        <div class="col-md-12">
            <p>Set your available Hours, When people can schedule with you.</p>
        </div>
    </div>
    <div class="card mb-5 col-md-10 offset-1">
        <div class="card-header">
        </div>
    </div>
</div>