<div class="card col-sm-5 offset-3">
    <div class="card-header">
        <h5> Create Password</h5>
    </div>
    <form #updateForm="ngForm" (ngSubmit)="update(updateForm,$event)" novalidate>
        <div class="card-body">
            <div class="input-group mt-3">
                <input type="Password" class="form-control" id="password" placeholder="Create New Password" name="userData.personalDetails.Password" [(ngModel)]="userData.personalDetails.Password" #Password="ngModel" required>
            </div>
            <!-- <small class="text-danger" *ngIf="updateForm.submitted && Password.invalid">Enter Password...!</small> -->
        </div>

        <div class="card-footer mt-3">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>

    </form>
</div>