<div class="card-header">
    <div class="col-md-10 offset-1">
        <div class="row">
            <div class="col-sm-4">
                <h6> My Calendly</h6>
            </div>
            <div class="offset-5 show-calendar pull-right " id="reportrange" style="background: #fff; cursor: pointer; width: 20%">
                <i> All Upcoming <b  style="margin-left: 10px;" class="fa fa-angle-down"></b></i>
            </div>
        </div>

        <div class="row mt-3">
            <div *ngFor="let val of meetingData">
                <a style="color: #9e2ed3; font-size: 15px; margin-left:20px;" class="fa fa-circle mt-1 " data-toggle="dropdown"><span style="color:rgb(179,179,179); font-size:18px;"> {{val.MeetingDetails.Event}} </span><b style="cursor: pointer;"  class="fa fa-angle-down"></b></a>
                <div class="dropdown-menu mt-2">
                    <i class="dropdown-item" data-toggle="modal" data-target="#myModal"><a class="fa fa-code"></a> Edit</i>
                    <hr style="margin-top: 0em; margin-bottom: 0em;">
                    <i class=" dropdown-item"><a  class="fa fa-paperclip"></a> Copy Link</i>
                    <hr style="margin-top: 0em; margin-bottom: 0em;">
                    <i class="dropdown-item"><a class="fa fa-envelope-o"></a> Email Url</i>
                </div>
            </div>
            <span style="margin-left:20px;" [routerLink]="['/home/event']">More <b class="fa fa-angle-right"></b> </span>
        </div>
    </div>
</div>
<div *ngFor="let hero of meetingData ">
    <div class="row mt-4 col-md-10">
        <div class="col-md-2 offset-1">
            Date :
        </div>
    </div>
    <div class="row offset-1 mt-1 col-md-10">
        <div class="col-md-1">
            <a style="color: #9e2ed3; font-size: 25px;" class="fa fa-circle mt-1 " data-toggle="dropdown"><span style="color:rgb(179,179,179); font-size:18px;"></span></a>
        </div>
        <div class="col-md-2 mt-1" style="margin-left:-55px;">
            45 Min
        </div>
        <div class="col-md-5 mt-1">
            <a> <b style="color:#00a2ff">Dipak</b> with you</a>
            <br>
            <a>Event Type :<b style="color:aquamarine"> {{hero.MeetingDetails.Event}}</b> ,</a>
            <br>
            <a style="color:#00a2ff">Reschedule By Dipak : <b style="color:rgb(179,179,179)">"{{hero._id}}"</b></a>
        </div>
        <div class="col-md-2 mt-1" style="cursor:pointer; color:#00a2ff;" id={{hero._id}} (click)="show = !show">Details
            <a style="color:#00a2ff;" class="fa fa-angle-down"></a>
        </div>
    </div>
    <div class="row offset-1 mt-1 col-md-10" *ngIf="show">
        <div class="col-md-4">
            <button class="btn btn-default mt-4"><a class="fa fa-refresh"></a><span>Reschedule</span></button>
            <button class="btn btn-default mt-3"><a class="fa fa-trash "></a><span>Cancel</span></button>
        </div>
        <div class="col-md-5 mt-4" style="margin-left:-55px;">
            <b>Email:</b><br>{{this.userData['0'].personalDetails.Email}} <br>
            <b>Location:</b><br>Pune
        </div>
    </div>
</div>
<!-- 
<tr *ngFor="let item of items">
        <td> {{item.name}}</td>
        <td> {{item.subject}}</td>
        <td>
            <table>
                <tr>
                    <td *ngFor="let list of details">{{list.firstName}} {{list.lastName}}</td>
                </tr>
            </table>
        </td>
        <td> {{item.fisrt}}</td>
        <td> {{item.second}}</td>
    </tr> -->