<div class="card-header">
    <div class="col-md-10 offset-1">
        <div class="row">
            <div class="col-sm-4">
                <h6> My Calendly</h6>
            </div>
            <div class="offset-5 show-calendar pull-right " id="reportrange" style="background: #fff; cursor: pointer; width: 20%">
                <i> All Upcoming <b  style="margin-left: 10px;" class="fa fa-angle-down"></b></i>
            </div>
        </div>
        <div class="row mt-3">
            <span>More <b class="fa fa-angle-right"></b> </span>
        </div>
    </div>
</div>